@use '@mixins' as *;


.button
{
    justify-content: space-between !important;
    white-space: nowrap;
}

.dropdown {
    position: relative;

    &Hover
    {
        & .menu
        {
            display: none;
        }
    
        &:hover .menu
        {
            display: block;
        }
    }

    &Active {
        display: initial;
    }
}

.iconArrow
{
    width: 100%;
    display: flex;
    justify-content: flex-end;

    & > img
    {
        height: 24px;
        width: 24px;
        object-fit: contain;
    }
}

.menu {
    display: none;

    position: absolute;
    left: 0;
    bottom: 0;

    min-width: 100%;
    white-space: nowrap;
    
    transform: translateY(100%);

    z-index: 1;
    
    &Active
    {
        display: block;
    }

    &Card
    {
        padding: .4rem 0;
        border-radius: 8px;
        margin-top: 10px;
        overflow: hidden;
        background: #1C1931;
    }
}

.item
{
    text-align: start;
    padding: .7rem 1rem;
    color: var(--color-white);
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: .8rem;

    &:hover
    {
        color: var(--color-primary)
    }

    &Icon
    {
        & svg, & path
        {
            display: block;
            height: 1rem;
        }
    }
}