@import '../index.module.scss';
@import '@mixins';


.wrapper
{
    position: relative;

    @include tablet
    {
        position: static;
    }
}

.dropdown
{
    background: #1C1931;
    padding: 1rem;

    border-radius: 1rem;
    
    &Items
    {
        margin-bottom: 1rem;
    }

    &Item
    {
        background: #282544;
        padding: .5rem;
        border-radius: .5rem;
        margin-bottom: .5rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;

        &:hover
        {
            opacity: .8;
        }
    }

    &Wrapper
    {
        display: none;
        z-index: 100;

        &Active
        {
            display: block;
            position: absolute;
            bottom: -1rem;
            right: 0;
            transform: translateY(100%);
            width: 440px;

            @include tablet
            {
                width: 100%;
                bottom: initial;
                transform: initial;
                padding: 1rem;
            }
        }
    }
}