.button
{
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 100px;

    font-family: inherit;
    line-height: 0em;
    transition: .2s;

    &:hover
    {
        opacity: .9;
        cursor: pointer;
    }

    &Icon
    {
        aspect-ratio : 1 / 1;
    }
}

.button--base
{
    color: var(--color-white);
    background: none;
}

.button--regular
{
    background: var(--color-dark-100);
    color: var(--color-white);
}

.button--primary
{
    background: var(--color-primary-500);
    color: var(--color-white)
}

.button--white
{
    background: var(--color-white);
    color: var(--color-black)
}

.button--lg
{
    padding: .8rem 1.5rem;
    font-size: 1.2rem;
    gap: .7rem
}

.button--md
{
    padding: .5rem 1rem;
    font-size: 1rem;
    gap: .5rem;
}

.fullWidth
{
    width: 100%;
}