@import '@mixins';


.card
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet
    {
        border-top-right-radius: 0;
        border-top-left-radius: 0;

        &:not(&Active)
        {
            display: none;
        }
    }
}