@import '@mixins';


.wrapper
{
    margin-bottom: 1.5rem;

    &Bar
    {
        @include tablet
        {
            display: none;
        }
    }
}

.icon
{
    & svg
    {
        color: var(--color-primary);
        height: 1.4rem;
        width: 1.4rem;
    }
}

.heading
{
    margin-bottom: .5rem;
}

.value
{
    font-family: inherit;
    margin-bottom: 0;
}
