@use '@mixins' as *;

.container
{
    position: relative;
    margin-bottom: 120px;
}

.heading
{
    margin-top: 50px;
    margin-bottom: 372px !important;
    text-align: center;

    @include tablet
    {
        margin-bottom: 300px !important;
    }
}

.button
{
    padding: 0 59px !important;

    @include mobile
    {
        padding: 0 23px !important;
    }
}

.figureUrsa
{
    top: 0;
    left: 50%;
    transform: translate(-50%);
    top: 25%;
    position: absolute;
    object-fit: contain;
    height: 507px;
    width: auto;

    @include tablet
    {
        height: 350px;
    }
}