@import '@mixins';

.button
{
    
    @include lsm
    {
        width: 100%;
    }
    
    & button
    {
        justify-content: space-between;

        @include lsm
        {
            width: 100%;
        }
    }
}