@use '@mixins' as *;

.buttonSpace
{
    max-width: 208px;
    width: 100%;

    @include mobile
    {
        max-width: initial;
    }

    @media (max-width: 800px) {
        max-width: initial;
    }
}

.headingStack
{
    @media (max-width: 800px) {
        flex-direction: column;
    }
}

.headingButtonsSpace
{
    @include tablet
    {
        max-width: initial;
    }
    
    @media (max-width: 800px) {
        flex-direction: column;
    }
}

.buttonTrustedProjects
{
    width: 100%;
}