@use '@mixins' as *;

.tabs
{
    background: linear-gradient(180deg, #211E3D 0%, rgba(8, 7, 19, 0.00) 50%);
    margin-bottom: 120px;

    @include tablet
    {
        margin-bottom: 60px;
    }

    @include mobile
    {
        margin-bottom: 30px;
    }
}


.container
{
    padding-top: 36px;

    @include mobile
    {
        padding-top: 12px;
        padding-bottom: 40px;
    }
}

.cards
{
    display: flex;
    gap: 24px;
}

.card
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 0 inherit inherit;

    @include tablet
    {
        display: none;
        border-radius: 0 0 1rem 1rem;

        &Active
        {
            display: block;
        }
    }


    &Head
    {
        display: flex;
        align-items: center;
        gap: 8px;

        @include tablet
        {
            display: none;
        }
    }

    &Body
    {
        min-height: 300px;
    }

    &Footer
    {
        background: transparent !important;
    }
}

.innerNav
{
    display: none;
    border-radius: 16px 16px 0 0;
    // background: var(--color-dark-200);
    background: #16142A;
    overflow: hidden;

    @include tablet
    {
        display: flex;
    }

    &Tab
    {
        width: 100%;
        background: none !important;
        justify-content: center !important;

        &Active
        {
            background: #1F1C3A !important;
        }
    }

    &Icon
    {
        height: 1.5rem;
        width: 1.5rem;
    }

    &Text
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }
}

.cardBlock
{
    margin-bottom: 1.5rem;
}

.buttonSave
{
    padding-left: 64px;
    padding-right: 64px;
}