@import '@mixins';


.body
{
    padding-bottom: 0 !important;
}

.figure
{
    max-width: 250px;
    width: 100%;
    margin: 0 auto;

    @include lmd
    {
        display: none;
    }
}

.bottom
{
    padding-top: 0 !important;
}

.button
{
    max-width: 250px;
    margin: 0 auto;

    @include lmd
    {
        margin: 0;
    }
}
