@use '@mixins' as *;

@mixin active {
    .itemActive &
    {
        @content;
    }
}

.item
{
    background: #1C1931;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;

    &:not(&Active)
    {
        color: var(--color-neutral);

        & svg, & path
        {
            fill: var(--color-neutral);
        }
    }

    & svg, & path
    {
        fill: white;
    }
}

.top
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1.5rem;

    &Right
    {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .title
    {
        margin-bottom: 0;
    }

    .badge
    {
        background: var(--color-error);
        color: var(--color-white);
        border-radius: 100px;
        padding: .2rem .5rem;

        @include active
        {
            background: var(--color-primary);
        }
    }
}


.bottom
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    &Right
    {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    & .icons
    {
        gap: .5rem !important;
        opacity: .5;
    
        @include active
        {
            opacity: 1;
        }

    }

    & .icon
    {
        @include mobile
        {
            width: .3rIem;
        }
    }

    &Button
    {
        cursor: pointer;
        opacity: .8;

        &:hover
        {
            opacity: 1;
        }

        & svg
        {
            height: 1.2rem;
        }
    }
}

.hash
{
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}