
.item
{
    display: flex;
    gap: 1rem;

    background: #1C1931;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;

    margin-bottom: .5rem;

    &:hover
    {
        opacity: .8;
    }

    &Figure
    {
        height: 3rem;
        width: 3rem;
    }

    &Content
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &Title
    {
        margin-bottom: .5rem;
    }

    &Icons
    {
        display: flex;        
    }

    &Icon
    {
        height: 1.5rem;
        width: 1.5rem;
        gap: .5rem;
    }

    &Detected
    {
        color: #584F88;
    }
}