@use '@mixins' as *;


.headerContainer {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding: 2rem;

    @include mobile
    {
        padding: 1rem;
    }
}

.headerSection {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo
{
    width: 221px;

    @include tablet
    {
        width: 176px;
    }

    @include mobile
    {
        width: 158px;
    }
}

.menu {

    display: flex;
    align-items: center;
    gap: 24px;

    list-style: none;
    color: var(--color-neutral);

    @include tablet {
        display: none;
    }
}


.menuBottom {
    display: none;
    gap: 18px;
    color: var(--color-neutral);
    overflow: auto;
    overflow-y: visible;

    @media (hover: none), (hover: on-demand), (-moz-touch-enabled: 1), (pointer:coarse) {
        &::-webkit-scrollbar
        {
            display: none;
        }
    }

    @include tablet
    {
        display: flex;
        padding-top: 0;
    }

    &Item {
        display: flex;
        align-items: center;
        gap: 4px;

        &Arrow {
            transform: translateY(25%);
        }
    }
}

.menuItem {
    display: flex;
    align-items: center;
    gap: .25rem;

    &Arrow {
        transform: translateY(25%);
    }
}

.iconNotifications {
    height: 2rem;

    @include tablet {
        height: 1.5rem;
    }
}

.buttonWallet {
    color: #584F88 !important;
    text-transform: none !important;
    padding-left: 42px !important;
    padding-right: 42px !important;

    @include tablet {
        display: none !important;
    }

    &Mobile
    {
        display: none !important;

        @include tablet
        {
            display: block !important;
        }
    }

    &Text {
        @include tablet {
            display: none;
        }
    }

    &Icon {
        display: none;

        @include tablet {
            display: block;
        }

        @include mobile
        {
            height: 16px;
            width: 16px;
        }
    }
}