.modal
{
    max-width: 700px;
    width: 100%;
}

.nftWrapper
{
    @media (hover: hover)
    {
        &:hover
        {
            opacity: .8;
            cursor: pointer;
        }
    }
}

.nft
{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 1rem;
}

.nft_grid
{
    max-height: 80vh !important;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 3rem;
    column-gap: 3rem;
}