.modal
{
    max-width: 700px;
    width: 100%;
}

.nftWrapper
{
    grid-column: 4 / span -1;
    @media (hover: hover)
    {
        &:hover
        {
            opacity: .8;
            cursor: pointer;
        }
    }
}

.nft
{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 1rem;
}

.nft_grid
{
    max-height: 60% !important;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 3rem;
}