.heading
{
    font-family: inherit;

    &Bottom
    {
        color: #584F88 !important;
    }
}

.card
{
    background: linear-gradient(58deg, #16142A 0%, #2C2751 99.13%) !important;
}

.buttonEnter
{
    background: #584F88 !important;
}