.blur
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(20px);
    animation-name: blur;
    animation-duration: .3s;
}

@keyframes blur {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}