@use '@mixins' as *;
@import '../index.module.scss';

.cards
{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    @include tablet
    {
        flex-direction: column;
    }
}

.cardSocial
{
    &Body
    {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        z-index: 1;

        @include tablet
        {
            // flex-direction: row;
        }
    }

    &Title, &Description
    {
        text-align: center;

        @include tablet
        {
            text-align: initial;
        }
    }

    &Title
    {
        margin-top: .5rem;
        font-size: 2rem;
    }

    &Description
    {
        color: #584F88;
        margin-bottom: 1.5rem;
    }

    &Figure
    {
        display: block;
        width: 100%;
        height: auto;
        max-width: 200px;
        margin: 0 auto 1rem;

        @include tablet
        {
            display: none;
        }
    }

    &BgDrop
    {
        position: absolute;
        height: 40%;
        width: 40%;
        background: linear-gradient(270deg, #2548A9 13.06%, #41B4D8 41.17%, #BA89C2 71.1%);
        filter: blur(60px);
        opacity: .15;
        // width: 200%;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        
        @include tablet
        {
            display: none;
        }
    }

    &Button, &Form
    {
        margin-bottom: 1rem !important;

        @include tablet
        {
            margin-bottom: 0 !important;
            float: right;
            width: auto;
        }

        @include mobile
        {
            width: 100%;
        }
    }

    &Button
    {
        margin: 0 auto;

        &Icon
        {
            padding: .6rem !important;
        }
    }
}

.modalTelegram
{
    max-width: 400px;
    margin: 0 auto;
}