@use '@mixins' as *;

.container
{
    padding-top: 36px;

    @include mobile
    {
        padding-top: 12px;
        padding-bottom: 40px;
    }
}

.cards
{
    display: flex;
    gap: 24px;
}

.card
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet
    {
        display: none;

        &Active
        {
            display: block;
        }
    }


    &Head
    {
        display: flex;
        align-items: center;
        gap: 8px;

        @include tablet
        {
            display: none;
        }
    }

    &Body
    {
        min-height: 300px;
    }

    &Footer
    {
        background: transparent !important;
    }
}

.innerNav
{
    display: none;
    border-radius: 16px 16px 0 0;
    background: var(--color-dark-200);
    overflow: hidden;

    @include tablet
    {
        display: flex;
    }

    &Tab
    {
        width: 100%;
        background: none !important;
        justify-content: center !important;

        &Active
        {
            background: var(--color-dark-100) !important;
        }
    }

    &Icon
    {
        height: 1.5rem;
        width: 1.5rem;
    }

    &Text
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }
}