@import '@mixins';


.cardHead
{
    display: flex;
    align-items: center;
    gap: .5rem;
    
    & img,
    & svg {
        height: 1.5rem;
        width: auto;
    }

    @include tablet
    {
        display: none;
    }
}